out
dist
node_modules
.vscode-test/
*.vsix
.DS_Store
CLAUDE.md
.doc
.clinerules
**/vscode.proposed.*.d.ts
.vscode/.vscode*
testspace/user-data
testspace/code
testspace/extensions
Flashpost-tests
/.serena
